<div class="aboutus">
  <div><app-header></app-header></div>
  <main>
    <table>
      <tr>
        <td colspan="2">
          <img src="../../assets/images/Logo/Logo-text-Mau.png" alt="About Us" class="section-banner" id="whoyouare"/>
        </td>
      </tr>
      <strong>
      <tr id="whoyouare">
        <td style="text-align: center;" colspan="2">
          <img src="../../assets/images/Banner/Slogan.png" alt="About Us" style="width: 100%; max-width: 100%;" />
        </td>
      </tr>
      <tr>
        <td><img src="../../assets/images/Logo/Logo-text-Mau.png" alt="About Us" class="section-image" /></td>
        <td>
          <h2 style="text-align: left; padding-left: 15px; font-size: 35px;">AuraBeauty - Who you are?</h2>
          <br>
          <p style="padding-left: 15px;">Aura Beauty is a cosmetic website dedicated to offering high-quality beauty
            products to its customers.
            Our platform provides a seamless shopping experience, featuring a wide range of cosmetics, skincare, and
            beauty accessories tailored to different needs and preferences.</p>
          <br>
          <p style="padding-left: 15px;">We focus on delivering popular and trending products while promoting customer
            education through detailed
            descriptions and usage tips. Our website ensures easy navigation, allowing users to browse by category,
            product type, or skin concern. </p>
          <br>
        </td>
      </tr>
    </strong>
    </table>
    <br>
    <table>
      <tr>
        <td>
          <h2 style="text-align: left; font-size: 35px;">❁ Vision</h2>
          <br>
          <p style="padding-right: 15px;">To become the leading online platform for cosmetics and beauty care, where
            customers can discover high-quality products tailored to their individual needs. Aura Beauty aims to be not
            only a shopping destination but also
            a source of inspiration for enhancing personal beauty routines.</p>
          <br>
          <h2 style="text-align: left; font-size: 35px;">❁ Mission</h2>
          <br>
          <p style="padding-right: 15px;">Aura Beauty is committed to providing a seamless online shopping experience,
            offering a diverse range of products from makeup to skincare and beauty accessories. We deliver top-quality,
            trending products and focus
            on customer education through detailed descriptions and usage tips. Customer feedback is highly valued,
            ensuring that we continuously improve our products and services to meet evolving beauty needs.</p>
          <br>
          <h2 style="text-align: left; font-size: 35px;">❁ Philosophy</h2>
          <br>
          <p style="padding-right: 15px;">Beauty is a combination of appearance and confidence. Aura Beauty strives to
            offer personalized products and
            experiences, catering to the needs and desires of each customer. Customer satisfaction is our top priority,
            and
            by incorporating feedback, we constantly evolve to become a trusted destination for all beauty routines.</p>

        </td>
        <td><img src="../../assets/images/Logo/Logo-text-Mau.png" style="width: 720px;" alt="About Us" /></td>
      </tr>
      <br>
      <br>
    </table>

    <section>
      <h2 style="text-align: center; font-size: 35px; margin-top: 10px;">Founding Members</h2>
      <div class="founders">
        <div class="founder">
          <a href="https://www.facebook.com/" class="no-underline">
            <img src="../../assets/images/Product/avt.jpg" alt="Founder 1" class="founder-image" />
            <div class="founder-info">
              <h3>Ngoc To</h3>
              <p>Founder</p>
            </div>
          </a>
        </div>
        <div class="founder">
          <a href="https://www.facebook.com/" class="no-underline">
            <img src="../../assets/images/Product/avt.jpg" alt="Founder 2" class="founder-image" />
            <div class="founder-info">
              <h3>Kieu Anh</h3>
              <p>Co-Founder</p>
            </div>
          </a>
        </div>
        <div class="founder">
          <a href="https://www.facebook.com/" class="no-underline">
            <img src="../../assets/images/Product/avt.jpg" alt="Founder 3" class="founder-image" />
            <div class="founder-info">
              <h3>Thanh Huyen</h3>
              <p>Co-Founder</p>
            </div>
          </a>
        </div>
        <div class="founder">
          <a href="https://www.facebook.com/" class="no-underline">
            <img src="../../assets/images/Product/avt.jpg" alt="Founder 4" class="founder-image" />
            <div class="founder-info">
              <h3>Hoang Kim</h3>
              <p>Co-Founder</p>
            </div>
          </a>
        </div>
        <div class="founder">
          <a href="https://www.facebook.com/" class="no-underline">
            <img src="../../assets/images/Product/avt.jpg" alt="Founder 5" class="founder-image" />
            <div class="founder-info">
              <h3>Thu Huong</h3>
              <p>Co-Founder</p>
            </div>
          </a>
        </div>
      </div>
    </section>

  </main>
</div>
