<div class="main-content bg-[#ffe7e7] min-h-screen">
  <mat-tab-group class="pt-2 text-black border-black" (selectedIndexChange)="selectedIndex = $event" [selectedIndex]="selectedIndex">
    <mat-tab label="Admin Management" class="text-[20px]">
      <div class="admin-apps space-y-6">
        <app-admin-profile></app-admin-profile>
        <app-add-admin></app-add-admin>
      </div>
    </mat-tab>
    <mat-tab label="User Management" class="label">
      <div class="user-apps space-y-6">
        <app-user-profile></app-user-profile>
        <app-view class="centered"></app-view>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
