<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="bg-[#ffffff] w-[250px] h-full flex flex-col" id="nav">
  <ul class="flex flex-col py-2">
    <li class="text-xl">
      <a class="flex items-center ml-4 p-2 rounded-md text-[#333333] hover:text-[#ba5a5a] font-bold"
         [routerLink]="'/admin'"
         [ngClass]="{'text-[#e26868]': isActive('/admin')}">
        <i class="fa fa-bar-chart mr-2"></i> Dashboard
      </a>
      <hr>
    </li>
    <li class="text-xl">
      <a class="flex items-center ml-4 p-2 rounded-md text-[#333333] hover:text-[#ba5a5a] font-bold"
         [routerLink]="'/profile'"
         [ngClass]="{'text-[#e26868]': isActive('/profile')}">
        <i class="fa fa-address-book mr-2"></i> Profile
      </a>
      <hr>
    </li>
    <li class="text-xl">
      <a class="flex items-center ml-4 p-2 rounded-md text-[#333333] hover:text-[#ba5a5a] font-bold"
         [routerLink]="'/products'"
         [ngClass]="{'text-[#e26868]': isActive('/products')}">
        <i class="fa fa-inbox mr-2"></i> Products
      </a>
      <hr>
    </li>
    <li class="text-xl">
      <a class="flex items-center ml-4 p-2 rounded-md text-[#333333] hover:text-[#ba5a5a] font-bold"
         [routerLink]="'/adminBlog'"
         [ngClass]="{'text-[#e26868]': isActive('/adminBlog')}">
        <i class="fa fa-newspaper mr-2"></i> Blogs
      </a>
      <hr>
    </li>
    <li class="text-xl">
      <a class="flex items-center ml-4 p-2 rounded-md text-[#333333] hover:text-[#ba5a5a] font-bold"
         [routerLink]="'/payment'"
         [ngClass]="{'text-[#e26868]': isActive('/payment')}">
        <i class="fa fa-shopping-basket mr-2"></i> Orders
      </a>
      <hr>
    </li>
    <li class="text-xl">
      <a routerLink="/login" (click)="logout()" class="flex items-center ml-4 p-2 rounded-md text-[#333333] hover:text-[#ba5a5a] font-bold">
        <i class="fa fa-sign-out-alt mr-2"></i> Logout
      </a>
    </li>
    <hr>
  </ul>
</div>
