<div class="bg-[#ffe7e7] w-[100%]">
  <table id="Bang" class="bg-white p-5 border-collapse">
    <table id="Bang" class="bg-[#ffe7e7] w-[100%] pl-[20px] pr-[20px]"
      style="border-collapse: separate; border-spacing: 0 20px;">

      <!-- ------------------------------------------------------ -->
      <tr class=" w-[100%]">
        <td class="w-[34%]">
          <div class="bg-[#ffffff] h-[200px] w-[90%] pl-[40px] rounded-lg shadow-lg transformable">
            <table id="Bang1.1" class="h-[200px] w-[100%]">
              <tr>
                <td class="font-['Quicksand'] text-[28px] font-bold">Total Visits</td>
                <td rowspan="2" class="font-['Quicksand'] text-[#c27676] text-[80px] font-bold transformable-number">1521</td>
              </tr>
              <tr>
                <td><img src="../../assets/dashboard/1.png" class="w-[100px] h-[100px]"></td>
              </tr>
            </table>
          </div>
        </td>
        <td class="w-[34%]">
          <div class="bg-[#ffffff] h-[200px] w-[90%] pl-[40px] rounded-lg shadow-lg transformable">
            <table id="Bang1.2" class="h-[200px] w-[100%]">
              <tr>
                <td class="font-['Quicksand'] text-[28px] font-bold">Total Page Views</td>
                <td rowspan="2" class="font-['Quicksand'] text-[#c27676] text-[80px] font-bold transformable-number">858</td>
              </tr>
              <tr>
                <td><img src="../../assets/dashboard/2.png" class="w-[100px] h-[100px]"></td>
              </tr>
            </table>
          </div>
        </td>
        <td class="w-[34%]">
          <div class="bg-[#ffffff] h-[200px] w-[90%] pl-[40px] rounded-lg shadow-lg transformable">
            <table id="Bang1.3" class="h-[200px] w-[100%]">
              <tr>
                <td class="font-['Quicksand'] text-[28px] font-bold">Unique Visitor</td>
                <td rowspan="2" class="font-['Quicksand'] text-[#c27676] text-[80px] font-bold transformable-number">698</td>
              </tr>
              <tr>
                <td><img src="../../assets/dashboard/3.png" class="w-[100px] h-[100px]"></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <!-- ------------------------------------------------------ -->
      <tr>
        <td colspan="3">
          <table class="w-[102%]">
            <tr class="w-[100%]">
              <td>
                <div
                  class="bg-[#ffffff] h-[500px] w-[95%] pl-[10px] rounded-lg shadow-lg transformable border-2 border-[#ffecec]">
                  <table>
                    <tr>
                      <td class="pl-5 pt-4 font-['Quicksand'] text-[28px] font-bold">This Month's Most Sold Product</td>
                    </tr>
                    <tr>
                      <td><img src="../../assets/dashboard/totalsales.png" class="w-[97%] mt-4"></td>
                    </tr>
                  </table>
                </div>
              </td>
              <td>
                <div
                  class="bg-[#ffffff] h-[500px] w-[90%] pl-[20px] rounded-lg shadow-lg transformable border-2 border-[#ffecec]">
                  <table>
                    <tr>
                      <td class="pl-5 pt-4 font-['Quicksand'] text-[28px] font-bold">Monthly Sales Growth</td>
                    </tr>
                    <tr>
                      <td><img src="../../assets/dashboard/salemonthly.png" class="w-[97%] mt-4"></td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- ------------------------------------------------------ -->

      <tr class="bg-[#ffe7e7] w-[98%]">
        <td colspan="3">
          <div
            class="bg-[#ffffff] h-[400px] w-[97%] pl-[10px] rounded-lg shadow-lg border-2 border-[#ffecec]">
            <p class="pl-5 pt-4 font-['Quicksand'] text-[28px] font-bold">Recent Sales</p>
            <div class="mx-5 my-4 pl-[10px]" style="text-align: center;">
              <table class="bg-[#ffffff] w-[99%] border border-[#c27676] pl-[10px] rounded-lg shadow-lg">
                <thead class="bg-[#c27676] text-white text-[20px]" style="text-align: center;">
                  <tr>
                    <th class="py-2 px-4">Sale Order Number</th>
                    <th class="py-2 px-4">Customer ID</th>
                    <th class="py-2 px-4">Order Date</th>
                    <th class="py-2 px-4">Order Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="border-b border-[#c27676] transformable-text">
                    <td class="py-2 px-4">000001</td>
                    <td class="py-2 px-4">123456</td>
                    <td class="py-2 px-4">01/11/2024</td>
                    <td class="py-2 px-4">120,000 VND</td>
                  </tr>
                  <tr class="border-b border-[#c27676] transformable-text">
                    <td class="py-2 px-4">000002</td>
                    <td class="py-2 px-4">234567</td>
                    <td class="py-2 px-4">01/11/2024</td>
                    <td class="py-2 px-4">100,000 VND</td>
                  </tr>
                  <tr class="border-b border-[#c27676] transformable-text">
                    <td class="py-2 px-4">000003</td>
                    <td class="py-2 px-4">345678</td>
                    <td class="py-2 px-4">01/11/2024</td>
                    <td class="py-2 px-4">90,000 VND</td>
                  </tr>
                  <tr class="border-b border-[#c27676] transformable-text">
                    <td class="py-2 px-4">000004</td>
                    <td class="py-2 px-4">456789</td>
                    <td class="py-2 px-4">01/11/2024</td>
                    <td class="py-2 px-4">150,000 VND</td>
                  </tr>
                  <tr class="border-b border-[#c27676] transformable-text">
                    <td class="py-2 px-4">000005</td>
                    <td class="py-2 px-4">567890</td>
                    <td class="py-2 px-4">01/11/2024</td>
                    <td class="py-2 px-4">20,000 VND</td>
                  </tr>
                  <tr class="border-b border-[#c27676] transformable-text">
                    <td class="py-2 px-4">000006</td>
                    <td class="py-2 px-4">123457</td>
                    <td class="py-2 px-4">01/11/2024</td>
                    <td class="py-2 px-4">320,000 VND</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <script src="app.js"></script>
  </table>
</div>

<style>
  .transformable {
    transition: transform 0.3s;
    cursor: pointer;
  }

  .transformable:hover {
    transform: scale(1.02);
  }

  .transformable-number {
    transition: transform 0.3s;
    cursor: pointer;
  }

  .transformable-number:hover {
    transform: scale(1.02);
    color: black;
  }

  .transformable-text {
    transition: transform 0.3s;
    cursor: pointer;
  }

  .transformable-text:hover {
    background-color: #f9e6e6;
  }
</style>
